

<!DOCTYPE html>
    <html>
    <head>
        <title>Error</title>
    </head>
    <body>
    <h3>Sorry, there is a technical problem. Please try again.</h3>
    @{
        ViewBag.Title = "Error";
    }

    <h1>Error</h1>
    <p>@ViewBag.ErrorMessage</p>

</body>
    </html>